<% @skippers.each do |skipper| %>
  <div class="skipper-container">
    <h1><%= skipper.name %></h1>
    <% if logged_in? %>
      <%= erb :_vote_buttons, locals: {resource: "skippers", id: skipper.id} %>
    <% end %>
    <p>Votes: <span class="vote-score"><%= skipper.net_vote_score %></span></p>
    <p>Click <a href="/skippers/<%= skipper.id %>">here</a> to see <%= skipper.name %>'s profile.
    <% if skipper == current_skipper %>
      <a href="/skippers/<%= skipper.id %>/edit">EDIT</a>
    <% end %>
    </p>

  </div>
<% end %>

