<h1>Welcome to <%= @skipper.name %>'s profile</h1>
<div>
  <h2>Info</h2>
  <p>
    <%= @skipper.name %> is a Fiery Skipper with a wing span of <%= @skipper.wingspan %> inches.
  </p>
  <p>
    <%= @skipper.name %> has <%= @skipper.net_vote_score %> <%= "vote".pluralize(@skipper.net_vote_score) %>.
  </p>
</div>
<%= erb :"/partials/_errors" %>
<form method="POST" action="/skippers/<%= @skipper.id %>/images">
  <input type="text" name="image[url]" placeholder="Image URL">
  <input type="text" name="image[alt_text]" placeholder="Alt text">
  <input type="submit" value="Add image to this Skipper">
</form>
<div id="skipper-image-container">
  <% @skipper.images.each do |image| %>
    <img src="<%= image.url %>" alt="<%= image.alt_text %>" width="200">
  <% end %>
</div>
<div>
  <h2>Skills</h2>
  <% if @skipper.skills.any? %>
    <ul>
      <% @skipper.skills.each do |skill| %>
        <li><a href="/skills/<%= skill.id %>"><%= skill.name %></a></li>
      <% end %>
    </ul>    
  <% end %>
</div>

  
<% if @skipper == current_skipper %>
  <div>
    <h2>Modify your skills</h2>
    <p>Add skills as comma separated values:</p>
    <form method="POST" action="/skippers/<%= @skipper.id %>/skills">
      <input type="text" name="skills">
      <input type="submit" value="Modify skills">
    </form>
  </div>
  <a href="/skippers/<%= @skipper.id %>/edit">Edit this Skipper</a>
  <form method="POST" action="/skippers/<%= @skipper.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE!">
  </form>
<% end %>
